*{
	margin:0;
	padding: 0;
	font-family: sans-serif;
	color: gray;
}

main{
	width:375px;
	height:667px;
	box-sizing:border-box;
	border: 1px solid #e7e7e7;
	margin: 1% auto;
	background-color: #333;
	overflow: hidden;
	padding: 3%;

}