*{
	margin:0;
	padding: 0;

	
}

main{
	position: relative;
	width:375px;
	height:667px;
	box-sizing:border-box;
	border: 1px solid #e7e7e7;
	margin: 1% auto;
	background-color: #fcfcfc;
	overflow: hidden;
	

}

#loading-bar .bar {
    background: #222;
    height: 4px;
  }

.progress{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.nav-trigger,.browse-trigger{
  position: absolute;
  width:40px;
  height:40px;
  background-color: lightgray;
  
}

.nav-trigger{
  top:15px;
  right:15px;
}

.browse-trigger{
    top:15px;
  left:15px;
  
}
.profile-pic{
 margin:20px auto;
 height:100px;
  width:100px;
  border-radius:50%;
  background-color:yellow;
}
.locations-wrapper{
    padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
   height:400px;
  overflow-y:scroll;
}

.main-container{
  position:relative;
  overflow-y:hidden;
  border: 1px solid gray;
  margin: 0 auto;
}

.profile-header{ 
  width:100%;
  height:300px;
  border: ;
  background-color: ;

}

