

<div class="main-container">
  <div class="nav-trigger"></div>
  <div class="browse-trigger"></div>
  <div class="profile-header">
    <div class="col s12">
    
    </div>
    <div class="col s12">
      <div class="profile-pic"></div>
    </div>
    
        <div class="col s12 center-align">
          <h4>{{currentUser}}</h4>
          <div class="chip">
          23 Places 
            
          </div>
           <div class="chip">
          4 Frequent 
            
          </div>
    </div>
  </div>



    <div class="locations-wrapper">
   <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                <h5>Chuy's</h5>

              </span>
            </div>
          </div>
        </div>
      </div>
      
     
     
        </div>
      </div>
    </div>

</div>